@media (min-width:350px) and (max-width: 450px){
    input,button{
        padding: 10px;
        font-size: 1em;
    }
}

@media (min-width:600px) and (max-width: 1024px){
    input, button{
        padding: 3.5px;
        font-size: 1em;
    }
}

body{
    background-color:rgb(4, 27, 134);
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}

img,iframe {
    max-width: 100%;
    max-height: 100%;
}

div{
    max-width: 100%;
}
h1, h3{
    color:	rgb(211,211,211)
}

h1, h3, input, button{
    text-align:center;
}

input,button{
    display:block;
    margin:auto;
    margin-bottom: 1rem;
    /* padding: 3.5px;
    font-size: 1em; */
}