body{
    background-color:rgb(0, 229, 255);
}

img,iframe {
    max-width: 100%;
}

h1, h3{
    text-align:center;
}

input, button{
    display:block;
    margin:auto;
    margin-bottom: 1rem;
}



